.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #15141b;
  color: #BFBDB6;
}

.hljs-comment,
.hljs-quote {
  color: #ACB6BF;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-addition {
  color: #FF8F40;
}

.hljs-number,
.hljs-string,
.hljs-meta .hljs-meta-string,
.hljs-literal,
.hljs-doctag,
.hljs-regexp {
  color: #AAD94C;
}

.hljs-title,
.hljs-section,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #39BAE6;
}

.hljs-attribute,
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-class .hljs-title,
.hljs-type {
  color: #E6B450;
}

.hljs-symbol,
.hljs-bullet,
.hljs-subst,
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-link {
  color: #D95757;
}

.hljs-built_in,
.hljs-deletion {
  color: #E6B673;
}

.hljs-formula {
  background: #131721;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
